<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaxia.tongyong.repository.ReportInfoMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.huaxia.tongyong.model.ReportInfo">
		<!---->
		<id property="id" column="id" />
		<!--日报类型：1，故障 2，修复验证-->
		<result property="reportType" column="report_type" />
		<!--日报状态：1，已保存 2，已提交-->
		<result property="reportStatus" column="report_status" />
		<!--创建人姓名-->
		<result property="createUserName" column="create_user_name" />
		<!--创建人id-->
		<result property="createUserId" column="create_user_id" />
		<!--负责人姓名-->
		<result property="chargeUserName" column="charge_user_name" />
		<!--负责人id-->
		<result property="chargeUserId" column="charge_user_id" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
		<!--更新时间-->
		<result property="updateTime" column="update_time" />
		<!--有效状态：1，有效 0 无效-->
		<result property="deleteStatus" column="delete_status" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	report_type,	report_status,	create_user_name,	create_user_id,	charge_user_name,	charge_user_id,	create_time,	update_time,	delete_status
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.huaxia.tongyong.model.ReportInfo" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_report_info
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM t_report_info
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.huaxia.tongyong.model.ReportInfo">
		 INSERT INTO t_report_info
 		(id,report_type,report_status,create_user_name,create_user_id,charge_user_name,charge_user_id,create_time,update_time,delete_status) 
		 VALUES 
 		(#{id},#{reportType},#{reportStatus},#{createUserName},#{createUserId},#{chargeUserName},#{chargeUserId},#{createTime},#{updateTime},#{deleteStatus}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.huaxia.tongyong.model.ReportInfo">
		 INSERT INTO t_report_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="reportType != null">
				 report_type,
			</if>
			<if test="reportStatus != null">
				 report_status,
			</if>
			<if test="createUserName != null">
				 create_user_name,
			</if>
			<if test="createUserId != null">
				 create_user_id,
			</if>
			<if test="chargeUserName != null">
				 charge_user_name,
			</if>
			<if test="chargeUserId != null">
				 charge_user_id,
			</if>
			<if test="createTime != null">
				 create_time,
			</if>
			<if test="updateTime != null">
				 update_time,
			</if>
			<if test="deleteStatus != null">
				 delete_status,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="reportType!=null">
				 #{reportType},
			</if>
			<if test="reportStatus!=null">
				 #{reportStatus},
			</if>
			<if test="createUserName!=null">
				 #{createUserName},
			</if>
			<if test="createUserId!=null">
				 #{createUserId},
			</if>
			<if test="chargeUserName!=null">
				 #{chargeUserName},
			</if>
			<if test="chargeUserId!=null">
				 #{chargeUserId},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
			<if test="deleteStatus!=null">
				 #{deleteStatus},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.huaxia.tongyong.model.ReportInfo">
		 UPDATE t_report_info
 		 <set> 
			<if test="reportType != null">
				 report_type = #{reportType},
			</if>
			<if test="reportStatus != null">
				 report_status = #{reportStatus},
			</if>
			<if test="createUserName != null">
				 create_user_name = #{createUserName},
			</if>
			<if test="createUserId != null">
				 create_user_id = #{createUserId},
			</if>
			<if test="chargeUserName != null">
				 charge_user_name = #{chargeUserName},
			</if>
			<if test="chargeUserId != null">
				 charge_user_id = #{chargeUserId},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				 update_time = #{updateTime},
			</if>
			<if test="deleteStatus != null">
				 delete_status = #{deleteStatus},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.huaxia.tongyong.model.ReportInfo">
		 UPDATE t_report_info
		 SET 
			 report_type = #{reportType},
			 report_status = #{reportStatus},
			 create_user_name = #{createUserName},
			 create_user_id = #{createUserId},
			 charge_user_name = #{chargeUserName},
			 charge_user_id = #{chargeUserId},
			 create_time = #{createTime},
			 update_time = #{updateTime},
			 delete_status = #{deleteStatus}
		 WHERE id = #{id}
	</update>

</mapper>