<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaxia.tongyong.repository.ReportFaultMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.huaxia.tongyong.model.ReportFault">
		<!---->
		<id property="id" column="id" />
		<!--关联的日报信息表id-->
		<result property="reportId" column="report_id" />
		<!--设备名称-->
		<result property="deviceName" column="device_name" />
		<!--设备故障-->
		<result property="deviceFault" column="device_fault" />
		<!--处理方法-->
		<result property="dealMethod" column="deal_method" />
		<!--区域，关联字典表id-->
		<result property="areaId" column="area_id" />
		<!--区域名称-->
		<result property="areaName" column="area_name" />
		<!--停线时间-->
		<result property="stopTime" column="stop_time" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
		<!--更新时间-->
		<result property="updateTime" column="update_time" />
		<!--有效状态：1，有效 0，无效-->
		<result property="deleteStatus" column="delete_status" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id,	report_id,	device_name,	device_fault,	deal_method,	area_id,	area_name,	stop_time,	create_time,	update_time,	delete_status
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.huaxia.tongyong.model.ReportFault" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_report_fault
		WHERE id = #{id}
	</select>
	<select id="selectReportFaultVo" resultType="com.huaxia.tongyong.vo.ReportFaultVo">
		SELECT
			id AS id,
			report_id reportId,
			device_name deviceName,
			device_fault deviceFault,
			deal_method dealMethod,
			area_id areaId,
			area_name areaName,
			DATE_FORMAT(stop_time, '%Y-%m-%d %t') sotpTime
		FROM
			t_report_fault
		<where>
			<if test="id !=null" >
				AND id = #{id}
			</if>
			<if test="reportId !=null">
				report_id = #{reportId}
			</if>
		</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		DELETE FROM t_report_fault
		WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.huaxia.tongyong.model.ReportFault">
		INSERT INTO t_report_fault
		(id,report_id,device_name,device_fault,deal_method,area_id,area_name,stop_time,create_time,update_time,delete_status)
		VALUES
		(#{id},#{reportId},#{deviceName},#{deviceFault},#{dealMethod},#{areaId},#{areaName},#{stopTime},#{createTime},#{updateTime},#{deleteStatus})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.huaxia.tongyong.model.ReportFault" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_report_fault
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				id,
			</if>
			<if test="reportId != null">
				report_id,
			</if>
			<if test="deviceName != null">
				device_name,
			</if>
			<if test="deviceFault != null">
				device_fault,
			</if>
			<if test="dealMethod != null">
				deal_method,
			</if>
			<if test="areaId != null">
				area_id,
			</if>
			<if test="areaName != null">
				area_name,
			</if>
			<if test="stopTime != null">
				stop_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="deleteStatus != null">
				delete_status,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				#{id},
			</if>
			<if test="reportId!=null">
				#{reportId},
			</if>
			<if test="deviceName!=null">
				#{deviceName},
			</if>
			<if test="deviceFault!=null">
				#{deviceFault},
			</if>
			<if test="dealMethod!=null">
				#{dealMethod},
			</if>
			<if test="areaId!=null">
				#{areaId},
			</if>
			<if test="areaName!=null">
				#{areaName},
			</if>
			<if test="stopTime!=null">
				#{stopTime},
			</if>
			<if test="createTime!=null">
				#{createTime},
			</if>
			<if test="updateTime!=null">
				#{updateTime},
			</if>
			<if test="deleteStatus!=null">
				#{deleteStatus},
			</if>
		</trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.huaxia.tongyong.model.ReportFault">
		UPDATE t_report_fault
		<set>
			<if test="reportId != null">
				report_id = #{reportId},
			</if>
			<if test="deviceName != null">
				device_name = #{deviceName},
			</if>
			<if test="deviceFault != null">
				device_fault = #{deviceFault},
			</if>
			<if test="dealMethod != null">
				deal_method = #{dealMethod},
			</if>
			<if test="areaId != null">
				area_id = #{areaId},
			</if>
			<if test="areaName != null">
				area_name = #{areaName},
			</if>
			<if test="stopTime != null">
				stop_time = #{stopTime},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="deleteStatus != null">
				delete_status = #{deleteStatus},
			</if>

		</set>
		WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.huaxia.tongyong.model.ReportFault">
		UPDATE t_report_fault
		SET
		report_id = #{reportId},
		device_name = #{deviceName},
		device_fault = #{deviceFault},
		deal_method = #{dealMethod},
		area_id = #{areaId},
		area_name = #{areaName},
		stop_time = #{stopTime},
		create_time = #{createTime},
		update_time = #{updateTime},
		delete_status = #{deleteStatus}
		WHERE id = #{id}
	</update>

</mapper>